@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* OCULTAR BARRA SCROLL */

/* Chrome, Edge, Safari */
/* Firefox */
html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Chrome, Edge, Safari */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
