@import "tailwindcss";

@theme {
  --color-main: #333;
}

/* body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family:
    "Ubuntu", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* OCULTAR BARRA SCROLL */

/* Chrome, Edge, Safari */
/* Firefox */
html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Chrome, Edge, Safari */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
